{{> partials/header }}
{{> partials/nav}}
<section class="jumbotrom">
  <h1>Estados Financieros</h1>
  <p>
  Por sus siglas EEFF es una herramienta diseñada para la facil elaboraciòn de Estados financieros a partir de un Balance de Saldos, generando a partir de este una Hoja de trabajo, un Estado de Resultados un Balace General y determinando los indices minimos para realisar un analisi Financiero eficiente
  </p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, repellendus nostrum ipsam saepe esse dicta fuga tenetur velit, consequatur animi omnis non laudantium aut voluptate a fugit inventore. Saepe, laboriosam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ex aperiam autem illum numquam porro quasi exercitationem labore? Voluptatibus nostrum ipsa ea eius libero atque culpa nihil ut ad optio.</p>
</section>
{{> partials/footer}}
