{{> 'partials/header' }}
{{> 'partials/nav'}}
<h1>{{Title}}</h1>

<form class="form-control" method="POST" action="/register">

  <div class="col-8">
    <label for="nombre" class="form-label">
      Nombre
    </label>
    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa tu Nombre"> 
  </div>

  <div class="col-8">
    <label for="apellido" class="form-label">
      Apellido
    </label>
    <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ingresa tu Apellido"> 
  </div>

  <div class="col-8">
    <label for="email" class="form-label">
      Email
    </label>
    <input type="email" class="form-control" name="email" id="email" placeholder="nombre@algo.com"> 
  </div>

  <div class="col-8">
    <label for="pase" class="form-label">
      Ingrese una palabra clave
    </label>
    <input type="password" class="form-control" name="pase" id="pase" placeholder="Password">
  </div>

  <div class="col-8">
    <label for="pase2" class="form-label">
      confirme su palabra clave
    </label>
    <input type="password" class="form-control" pase2 id="pase2" placeholder="Password">
  </div>

  <hr>

  <div class="col-8"> 
    <button type="submit" class="btn btn-primary justifi-content-center mb-3">
      Confirme identidad
    </button>
  </div>

</form>

{{> 'partials/footer' }}
